<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OverallM</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>60</string>
			<key>searchQuery</key>
			<string>60</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>100</string>
			<key>searchQuery</key>
			<string>100</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>200</string>
			<key>searchQuery</key>
			<string>200</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>400</string>
			<key>searchQuery</key>
			<string>400</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>800</string>
			<key>searchQuery</key>
			<string>800</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>1500</string>
			<key>searchQuery</key>
			<string>1500</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>3000</string>
			<key>searchQuery</key>
			<string>3000</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>5000</string>
			<key>searchQuery</key>
			<string>5000</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>10000</string>
			<key>searchQuery</key>
			<string>10000</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>3000SC</string>
			<key>searchQuery</key>
			<string>3000SC</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>10K</string>
			<key>searchQuery</key>
			<string>10K</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Half Marathon</string>
			<key>searchQuery</key>
			<string>HM</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Marathon</string>
			<key>searchQuery</key>
			<string>Mar</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>60 Hurdles</string>
			<key>searchQuery</key>
			<string>60H</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>110 Hurdles</string>
			<key>searchQuery</key>
			<string>110H</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>400 Hurdles</string>
			<key>searchQuery</key>
			<string>400H</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>High Jump</string>
			<key>searchQuery</key>
			<string>HJ</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Pole Vault</string>
			<key>searchQuery</key>
			<string>PV</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Long Jump</string>
			<key>searchQuery</key>
			<string>LJ</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Triple Jump</string>
			<key>searchQuery</key>
			<string>TJ</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Shot</string>
			<key>searchQuery</key>
			<string>SP7.26K</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Discus</string>
			<key>searchQuery</key>
			<string>DT2K</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Hammer</string>
			<key>searchQuery</key>
			<string>HT7.26K</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Javelin</string>
			<key>searchQuery</key>
			<string>JT800</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Indoor Heptathlon</string>
			<key>searchQuery</key>
			<string>HepI</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Decathlon</string>
			<key>searchQuery</key>
			<string>Dec</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>20K Walk</string>
			<key>searchQuery</key>
			<string>20KW</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>50K Walk</string>
			<key>searchQuery</key>
			<string>50KW</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>4x100</string>
			<key>searchQuery</key>
			<string>4x100</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>4x400</string>
			<key>searchQuery</key>
			<string>4x400</string>
		</dict>
	</array>
	<key>Under 20M</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>60</string>
			<key>searchQuery</key>
			<string>60</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>100</string>
			<key>searchQuery</key>
			<string>100</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>200</string>
			<key>searchQuery</key>
			<string>200</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>400</string>
			<key>searchQuery</key>
			<string>400</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>800</string>
			<key>searchQuery</key>
			<string>800</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>1500</string>
			<key>searchQuery</key>
			<string>1500</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>3000</string>
			<key>searchQuery</key>
			<string>3000</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>5000</string>
			<key>searchQuery</key>
			<string>5000</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>2000SC</string>
			<key>searchQuery</key>
			<string>2000SC</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>60 Hurdles</string>
			<key>searchQuery</key>
			<string>60HU20M</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>110 Hurdles</string>
			<key>searchQuery</key>
			<string>110HU20M</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>400 Hurdles</string>
			<key>searchQuery</key>
			<string>400H</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>High Jump</string>
			<key>searchQuery</key>
			<string>HJ</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Pole Vault</string>
			<key>searchQuery</key>
			<string>PV</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Long Jump</string>
			<key>searchQuery</key>
			<string>LJ</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Triple Jump</string>
			<key>searchQuery</key>
			<string>TJ</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Shot</string>
			<key>searchQuery</key>
			<string>SP6K</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Discus</string>
			<key>searchQuery</key>
			<string>DT1.75K</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Hammer</string>
			<key>searchQuery</key>
			<string>HT6K</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Javelin</string>
			<key>searchQuery</key>
			<string>JT800</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Indoor Heptathlon</string>
			<key>searchQuery</key>
			<string>HepIU20M</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Decathlon</string>
			<key>searchQuery</key>
			<string>DecU20M</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>4x100</string>
			<key>searchQuery</key>
			<string>4x100</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>4x400</string>
			<key>searchQuery</key>
			<string>4x400</string>
		</dict>
	</array>
	<key>Under 17M</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>60</string>
			<key>searchQuery</key>
			<string>60</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>100</string>
			<key>searchQuery</key>
			<string>100</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>200</string>
			<key>searchQuery</key>
			<string>200</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>400</string>
			<key>searchQuery</key>
			<string>400</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>800</string>
			<key>searchQuery</key>
			<string>800</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>1500</string>
			<key>searchQuery</key>
			<string>1500</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>3000</string>
			<key>searchQuery</key>
			<string>3000</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>1500SC</string>
			<key>searchQuery</key>
			<string>1500SC</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>60 Hurdles</string>
			<key>searchQuery</key>
			<string>60HU17M</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>100 Hurdles</string>
			<key>searchQuery</key>
			<string>100HU17M</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>400 Hurdles</string>
			<key>searchQuery</key>
			<string>400HU17M</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>High Jump</string>
			<key>searchQuery</key>
			<string>HJ</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Pole Vault</string>
			<key>searchQuery</key>
			<string>PV</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Long Jump</string>
			<key>searchQuery</key>
			<string>LJ</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Triple Jump</string>
			<key>searchQuery</key>
			<string>TJ</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Shot</string>
			<key>searchQuery</key>
			<string>SP5K</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Discus</string>
			<key>searchQuery</key>
			<string>DT1.5K</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Hammer</string>
			<key>searchQuery</key>
			<string>HT5K</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Javelin</string>
			<key>searchQuery</key>
			<string>JT700</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Indoor Heptathlon</string>
			<key>searchQuery</key>
			<string>HepIU17M</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Octathlon</string>
			<key>searchQuery</key>
			<string>OctU17M</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Decathlon</string>
			<key>searchQuery</key>
			<string>DecU17M</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>4x100</string>
			<key>searchQuery</key>
			<string>4x100</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>4x400</string>
			<key>searchQuery</key>
			<string>4x400</string>
		</dict>
	</array>
	<key>Under 15M</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>60</string>
			<key>searchQuery</key>
			<string>60</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>100</string>
			<key>searchQuery</key>
			<string>100</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>200</string>
			<key>searchQuery</key>
			<string>200</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>400</string>
			<key>searchQuery</key>
			<string>400</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>800</string>
			<key>searchQuery</key>
			<string>800</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>1500</string>
			<key>searchQuery</key>
			<string>1500</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>3000</string>
			<key>searchQuery</key>
			<string>3000</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>60 Hurdles</string>
			<key>searchQuery</key>
			<string>60HU15M</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>80 Hurdles</string>
			<key>searchQuery</key>
			<string>80HU15M</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>High Jump</string>
			<key>searchQuery</key>
			<string>HJ</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Pole Vault</string>
			<key>searchQuery</key>
			<string>PV</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Long Jump</string>
			<key>searchQuery</key>
			<string>LJ</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Triple Jump</string>
			<key>searchQuery</key>
			<string>TJ</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Shot</string>
			<key>searchQuery</key>
			<string>SP4K</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Discus</string>
			<key>searchQuery</key>
			<string>DT1.25K</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Hammer</string>
			<key>searchQuery</key>
			<string>HT4K</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Javelin</string>
			<key>searchQuery</key>
			<string>JT600</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Indoor Pentathlon</string>
			<key>searchQuery</key>
			<string>PenIU15M</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Pentathlon</string>
			<key>searchQuery</key>
			<string>PenU15M</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>4x100</string>
			<key>searchQuery</key>
			<string>4x100</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>4x300</string>
			<key>searchQuery</key>
			<string>4x300</string>
		</dict>
	</array>
	<key>Under 13M</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>60</string>
			<key>searchQuery</key>
			<string>60</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>100</string>
			<key>searchQuery</key>
			<string>100</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>200</string>
			<key>searchQuery</key>
			<string>200</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>400</string>
			<key>searchQuery</key>
			<string>400</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>800</string>
			<key>searchQuery</key>
			<string>800</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>1500</string>
			<key>searchQuery</key>
			<string>1500</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>60 Hurdles</string>
			<key>searchQuery</key>
			<string>60HU13M</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>75 Hurdles</string>
			<key>searchQuery</key>
			<string>75HU13M</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>High Jump</string>
			<key>searchQuery</key>
			<string>HJ</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Pole Vault</string>
			<key>searchQuery</key>
			<string>PV</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Long Jump</string>
			<key>searchQuery</key>
			<string>LJ</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Shot</string>
			<key>searchQuery</key>
			<string>SP3.25K</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Discus</string>
			<key>searchQuery</key>
			<string>DT1K</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Javelin</string>
			<key>searchQuery</key>
			<string>JT400</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Pentathlon</string>
			<key>searchQuery</key>
			<string>PenU13M</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>4x100</string>
			<key>searchQuery</key>
			<string>4x100</string>
		</dict>
	</array>
	<key>DisabilityM</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>60 Run</string>
			<key>searchQuery</key>
			<string>60</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>100 Run</string>
			<key>searchQuery</key>
			<string>100</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>100 WC</string>
			<key>searchQuery</key>
			<string>100WC</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>200 Run</string>
			<key>searchQuery</key>
			<string>200</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>200 WC</string>
			<key>searchQuery</key>
			<string>200WC</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>400 Run</string>
			<key>searchQuery</key>
			<string>400</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>400 WC</string>
			<key>searchQuery</key>
			<string>400WC</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>800 Run</string>
			<key>searchQuery</key>
			<string>800</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>800 WC</string>
			<key>searchQuery</key>
			<string>800WC</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>1500 Run</string>
			<key>searchQuery</key>
			<string>1500</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>1500 WC</string>
			<key>searchQuery</key>
			<string>1500WC</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>5000 Run</string>
			<key>searchQuery</key>
			<string>5000</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>5000 WC</string>
			<key>searchQuery</key>
			<string>5000WC</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>10000 Run</string>
			<key>searchQuery</key>
			<string>10000</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>10000 WC</string>
			<key>searchQuery</key>
			<string>10000WC</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Marathon Run</string>
			<key>searchQuery</key>
			<string>Mar</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Marathon WC</string>
			<key>searchQuery</key>
			<string>MarWC</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>High Jump</string>
			<key>searchQuery</key>
			<string>HJ</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Long Jump</string>
			<key>searchQuery</key>
			<string>LJ</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Triple Jump</string>
			<key>searchQuery</key>
			<string>TJ</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Shot</string>
			<key>searchQuery</key>
			<string>SP</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Discus</string>
			<key>searchQuery</key>
			<string>DT</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Javelin</string>
			<key>searchQuery</key>
			<string>JT</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Club</string>
			<key>searchQuery</key>
			<string>CT</string>
		</dict>
	</array>
	<key>OverallW</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>60</string>
			<key>searchQuery</key>
			<string>60</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>100</string>
			<key>searchQuery</key>
			<string>100</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>200</string>
			<key>searchQuery</key>
			<string>200</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>400</string>
			<key>searchQuery</key>
			<string>400</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>800</string>
			<key>searchQuery</key>
			<string>800</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>1500</string>
			<key>searchQuery</key>
			<string>1500</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>3000</string>
			<key>searchQuery</key>
			<string>3000</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>5000</string>
			<key>searchQuery</key>
			<string>5000</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>10000</string>
			<key>searchQuery</key>
			<string>10000</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>2000SCW</string>
			<key>searchQuery</key>
			<string>2000SCW</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>3000SCW</string>
			<key>searchQuery</key>
			<string>3000SCW</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>10K</string>
			<key>searchQuery</key>
			<string>10K</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Half Marathon</string>
			<key>searchQuery</key>
			<string>HM</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Marathon</string>
			<key>searchQuery</key>
			<string>Mar</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>60 Hurdles</string>
			<key>searchQuery</key>
			<string>60HW</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>100 Hurdles</string>
			<key>searchQuery</key>
			<string>100HW</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>400 Hurdles</string>
			<key>searchQuery</key>
			<string>400HW</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>High Jump</string>
			<key>searchQuery</key>
			<string>HJ</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Pole Vault</string>
			<key>searchQuery</key>
			<string>PV</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Long Jump</string>
			<key>searchQuery</key>
			<string>LJ</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Triple Jump</string>
			<key>searchQuery</key>
			<string>TJ</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Shot</string>
			<key>searchQuery</key>
			<string>SP4K</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Discus</string>
			<key>searchQuery</key>
			<string>DT1K</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Hammer</string>
			<key>searchQuery</key>
			<string>HT4K</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Javelin</string>
			<key>searchQuery</key>
			<string>JT600</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Indoor Pentathlon</string>
			<key>searchQuery</key>
			<string>PenIW</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Heptathlon</string>
			<key>searchQuery</key>
			<string>HepW</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>20K Walk</string>
			<key>searchQuery</key>
			<string>20KW</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>4x100</string>
			<key>searchQuery</key>
			<string>4x100</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>4x400</string>
			<key>searchQuery</key>
			<string>4x400</string>
		</dict>
	</array>
	<key>Under 20W</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>60</string>
			<key>searchQuery</key>
			<string>60</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>100</string>
			<key>searchQuery</key>
			<string>100</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>200</string>
			<key>searchQuery</key>
			<string>200</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>400</string>
			<key>searchQuery</key>
			<string>400</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>800</string>
			<key>searchQuery</key>
			<string>800</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>1500</string>
			<key>searchQuery</key>
			<string>1500</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>3000</string>
			<key>searchQuery</key>
			<string>3000</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>5000</string>
			<key>searchQuery</key>
			<string>5000</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>1500SC</string>
			<key>searchQuery</key>
			<string>1500SCW</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>60 Hurdles</string>
			<key>searchQuery</key>
			<string>60HW</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>100 Hurdles</string>
			<key>searchQuery</key>
			<string>100HW</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>400 Hurdles</string>
			<key>searchQuery</key>
			<string>400HW</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>High Jump</string>
			<key>searchQuery</key>
			<string>HJ</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Pole Vault</string>
			<key>searchQuery</key>
			<string>PV</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Long Jump</string>
			<key>searchQuery</key>
			<string>LJ</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Triple Jump</string>
			<key>searchQuery</key>
			<string>TJ</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Shot</string>
			<key>searchQuery</key>
			<string>SP4K</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Discus</string>
			<key>searchQuery</key>
			<string>DT1K</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Hammer</string>
			<key>searchQuery</key>
			<string>HT4K</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Javelin</string>
			<key>searchQuery</key>
			<string>JT600</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Indoor Pentathlon</string>
			<key>searchQuery</key>
			<string>PenIW</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Heptathlon</string>
			<key>searchQuery</key>
			<string>HepW</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>4x100</string>
			<key>searchQuery</key>
			<string>4x100</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>4x400</string>
			<key>searchQuery</key>
			<string>4x400</string>
		</dict>
	</array>
	<key>Under 17W</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>60</string>
			<key>searchQuery</key>
			<string>60</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>100</string>
			<key>searchQuery</key>
			<string>100</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>200</string>
			<key>searchQuery</key>
			<string>200</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>300</string>
			<key>searchQuery</key>
			<string>300</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>800</string>
			<key>searchQuery</key>
			<string>800</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>1500</string>
			<key>searchQuery</key>
			<string>1500</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>3000</string>
			<key>searchQuery</key>
			<string>3000</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>1500SC</string>
			<key>searchQuery</key>
			<string>1500SCW</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>60 Hurdles</string>
			<key>searchQuery</key>
			<string>60HU17W</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>80 Hurdles</string>
			<key>searchQuery</key>
			<string>80HU17W</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>300 Hurdles</string>
			<key>searchQuery</key>
			<string>300HW</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>High Jump</string>
			<key>searchQuery</key>
			<string>HJ</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Pole Vault</string>
			<key>searchQuery</key>
			<string>PV</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Long Jump</string>
			<key>searchQuery</key>
			<string>LJ</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Triple Jump</string>
			<key>searchQuery</key>
			<string>TJ</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Shot</string>
			<key>searchQuery</key>
			<string>SP3K</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Discus</string>
			<key>searchQuery</key>
			<string>DT1K</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Hammer</string>
			<key>searchQuery</key>
			<string>HT3K</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Javelin</string>
			<key>searchQuery</key>
			<string>JT500</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Indoor Pentathlon</string>
			<key>searchQuery</key>
			<string>PenIU17W</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Heptathlon</string>
			<key>searchQuery</key>
			<string>HepU17W</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>4x100</string>
			<key>searchQuery</key>
			<string>4x100</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>4x300</string>
			<key>searchQuery</key>
			<string>4x300</string>
		</dict>
	</array>
	<key>Under 15W</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>60</string>
			<key>searchQuery</key>
			<string>60</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>100</string>
			<key>searchQuery</key>
			<string>100</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>200</string>
			<key>searchQuery</key>
			<string>200</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>300</string>
			<key>searchQuery</key>
			<string>300</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>800</string>
			<key>searchQuery</key>
			<string>800</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>1500</string>
			<key>searchQuery</key>
			<string>1500</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>3000</string>
			<key>searchQuery</key>
			<string>3000</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>60 Hurdles</string>
			<key>searchQuery</key>
			<string>60HU15W</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>75 Hurdles</string>
			<key>searchQuery</key>
			<string>75HU15W</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>High Jump</string>
			<key>searchQuery</key>
			<string>HJ</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Pole Vault</string>
			<key>searchQuery</key>
			<string>PV</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Long Jump</string>
			<key>searchQuery</key>
			<string>LJ</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Triple Jump</string>
			<key>searchQuery</key>
			<string>TJ</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Shot</string>
			<key>searchQuery</key>
			<string>SP3K</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Discus</string>
			<key>searchQuery</key>
			<string>DT1K</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Hammer</string>
			<key>searchQuery</key>
			<string>HT3K</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Javelin</string>
			<key>searchQuery</key>
			<string>JT500</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Indoor Pentathlon</string>
			<key>searchQuery</key>
			<string>PenIU15W</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Pentathlon</string>
			<key>searchQuery</key>
			<string>PenU15W</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>4x100</string>
			<key>searchQuery</key>
			<string>4x100</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>4x300</string>
			<key>searchQuery</key>
			<string>4x300</string>
		</dict>
	</array>
	<key>Under 13W</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>60</string>
			<key>searchQuery</key>
			<string>60</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>75</string>
			<key>searchQuery</key>
			<string>75</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>100</string>
			<key>searchQuery</key>
			<string>100</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>150</string>
			<key>searchQuery</key>
			<string>150</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>200</string>
			<key>searchQuery</key>
			<string>200</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>600</string>
			<key>searchQuery</key>
			<string>600</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>800</string>
			<key>searchQuery</key>
			<string>800</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>1200</string>
			<key>searchQuery</key>
			<string>1200</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>1500</string>
			<key>searchQuery</key>
			<string>1500</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>60 Hurdles</string>
			<key>searchQuery</key>
			<string>60HU13W</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>70 Hurdles</string>
			<key>searchQuery</key>
			<string>70HU15W</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>High Jump</string>
			<key>searchQuery</key>
			<string>HJ</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Pole Vault</string>
			<key>searchQuery</key>
			<string>PV</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Long Jump</string>
			<key>searchQuery</key>
			<string>LJ</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Shot</string>
			<key>searchQuery</key>
			<string>SP2.72K</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Discus</string>
			<key>searchQuery</key>
			<string>DT0.75K</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Javelin</string>
			<key>searchQuery</key>
			<string>JT400</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Pentathlon</string>
			<key>searchQuery</key>
			<string>PenU13W</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>4x100</string>
			<key>searchQuery</key>
			<string>4x100</string>
		</dict>
	</array>
	<key>DisabilityW</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>60 Run</string>
			<key>searchQuery</key>
			<string>60</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>100 Run</string>
			<key>searchQuery</key>
			<string>100</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>100 WC</string>
			<key>searchQuery</key>
			<string>100WC</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>200 Run</string>
			<key>searchQuery</key>
			<string>200</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>200 WC</string>
			<key>searchQuery</key>
			<string>200WC</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>400 Run</string>
			<key>searchQuery</key>
			<string>400</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>400 WC</string>
			<key>searchQuery</key>
			<string>400WC</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>800 Run</string>
			<key>searchQuery</key>
			<string>800</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>800 WC</string>
			<key>searchQuery</key>
			<string>800WC</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>1500 Run</string>
			<key>searchQuery</key>
			<string>1500</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>1500 WC</string>
			<key>searchQuery</key>
			<string>1500WC</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>5000 Run</string>
			<key>searchQuery</key>
			<string>5000</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>5000 WC</string>
			<key>searchQuery</key>
			<string>5000WC</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>10000 Run</string>
			<key>searchQuery</key>
			<string>10000</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>10000 WC</string>
			<key>searchQuery</key>
			<string>10000WC</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Marathon Run</string>
			<key>searchQuery</key>
			<string>Mar</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Marathon WC</string>
			<key>searchQuery</key>
			<string>MarWC</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>High Jump</string>
			<key>searchQuery</key>
			<string>HJ</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Long Jump</string>
			<key>searchQuery</key>
			<string>LJ</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Triple Jump</string>
			<key>searchQuery</key>
			<string>TJ</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Shot</string>
			<key>searchQuery</key>
			<string>SP</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Discus</string>
			<key>searchQuery</key>
			<string>DT</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Javelin</string>
			<key>searchQuery</key>
			<string>JT</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Club</string>
			<key>searchQuery</key>
			<string>CT</string>
		</dict>
	</array>
</dict>
</plist>
