<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ALLM</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>60</string>
			<key>searchQuery</key>
			<string>60</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>100</string>
			<key>searchQuery</key>
			<string>100</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>200</string>
			<key>searchQuery</key>
			<string>200</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>400</string>
			<key>searchQuery</key>
			<string>400</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>800</string>
			<key>searchQuery</key>
			<string>800</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>1500</string>
			<key>searchQuery</key>
			<string>1500</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>3000</string>
			<key>searchQuery</key>
			<string>3000</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>5000</string>
			<key>searchQuery</key>
			<string>5000</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>10000</string>
			<key>searchQuery</key>
			<string>10000</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>3000SC</string>
			<key>searchQuery</key>
			<string>3000SC</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>10K</string>
			<key>searchQuery</key>
			<string>10K</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Half Marathon</string>
			<key>searchQuery</key>
			<string>HM</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Marathon</string>
			<key>searchQuery</key>
			<string>Mar</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>60 Hurdles</string>
			<key>searchQuery</key>
			<string>60H</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>110 Hurdles</string>
			<key>searchQuery</key>
			<string>110H</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>400 Hurdles</string>
			<key>searchQuery</key>
			<string>400H</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>High Jump</string>
			<key>searchQuery</key>
			<string>HJ</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Pole Vault</string>
			<key>searchQuery</key>
			<string>PV</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Long Jump</string>
			<key>searchQuery</key>
			<string>LJ</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Triple Jump</string>
			<key>searchQuery</key>
			<string>TJ</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Shot</string>
			<key>searchQuery</key>
			<string>SP7.26K</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Discus</string>
			<key>searchQuery</key>
			<string>DT2K</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Hammer</string>
			<key>searchQuery</key>
			<string>HT7.26K</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Javelin</string>
			<key>searchQuery</key>
			<string>JT800</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Indoor Heptathlon</string>
			<key>searchQuery</key>
			<string>HepI</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Decathlon</string>
			<key>searchQuery</key>
			<string>Dec</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>20K Walk</string>
			<key>searchQuery</key>
			<string>20KW</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>50K Walk</string>
			<key>searchQuery</key>
			<string>50KW</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>4x100</string>
			<key>searchQuery</key>
			<string>4x100</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>4x400</string>
			<key>searchQuery</key>
			<string>4x400</string>
		</dict>
	</array>
	<key>U20M</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>60</string>
			<key>searchQuery</key>
			<string>60</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>100</string>
			<key>searchQuery</key>
			<string>100</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>200</string>
			<key>searchQuery</key>
			<string>200</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>400</string>
			<key>searchQuery</key>
			<string>400</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>800</string>
			<key>searchQuery</key>
			<string>800</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>1500</string>
			<key>searchQuery</key>
			<string>1500</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>3000</string>
			<key>searchQuery</key>
			<string>3000</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>5000</string>
			<key>searchQuery</key>
			<string>5000</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>2000SC</string>
			<key>searchQuery</key>
			<string>2000SC</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>60 Hurdles</string>
			<key>searchQuery</key>
			<string>60HU20M</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>110 Hurdles</string>
			<key>searchQuery</key>
			<string>110HU20M</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>400 Hurdles</string>
			<key>searchQuery</key>
			<string>400H</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>High Jump</string>
			<key>searchQuery</key>
			<string>HJ</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Pole Vault</string>
			<key>searchQuery</key>
			<string>PV</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Long Jump</string>
			<key>searchQuery</key>
			<string>LJ</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Triple Jump</string>
			<key>searchQuery</key>
			<string>TJ</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Shot</string>
			<key>searchQuery</key>
			<string>SP6K</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Discus</string>
			<key>searchQuery</key>
			<string>DT1.75K</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Hammer</string>
			<key>searchQuery</key>
			<string>HT6K</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Javelin</string>
			<key>searchQuery</key>
			<string>JT800</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Indoor Heptathlon</string>
			<key>searchQuery</key>
			<string>HepIU20</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Decathlon</string>
			<key>searchQuery</key>
			<string>DecU20M</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>4x100</string>
			<key>searchQuery</key>
			<string>4x100</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>4x400</string>
			<key>searchQuery</key>
			<string>4x400</string>
		</dict>
	</array>
</dict>
</plist>
